html, body {
	font-family: "M PLUS Rounded 1c";
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, ol, ul, li, a, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    list-style: none;
    color: black;
    text-decoration: none;
}

.page-header-top{
	background-color: #005281;
	display: flex;
}
.page-header-top .wrapper{
	display: flex;
    justify-content: space-between;
}
.page-header-top .top-part li {
	align-items: center;
    display: flex;
    font-size: 15px;
	color: white;
	padding: 10px;
	padding-left:0px ;
	margin-right: 50px ;
}
.page-header-top .top-part{
	display: flex;
}
.page-header-top .top-part-icon{
	color: white;
	display: flex;
}
.top-part-icon .icon{
	border-radius: 1px;
	padding: 10px;
	padding-right: 0px;
	height: 20px;
}
.page-header-top .top-part  li .image-icon{
	margin-right: 5px;
	height: 20px;	
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}
.page-header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header .menu {
    display: flex;
}
.page-header .menu li a {
    display: inline-block;
    color: #fff;
    padding: 30px;
	color: #000000;
	padding-right: 0px;
	font-size: 18px;
}

.page-welcome .welcome{
	background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url('../image/office-hero.jpg');
	background-size: 100% 100%;
	height: 600px;
	width: 100%;
	justify-content: center;
	display: table;
}
.page-welcome .welcome .text{
	display: table-cell;
	vertical-align: middle;
}

.page-welcome .welcome .text .text-welcome{
	display: flex;
	justify-content: center;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px;
	color: white;
}
.page-welcome .welcome .text .text-tagline{
	display: flex;
	justify-content: center;
	font-size: 28px;
	margin: 10px;
	color: white;
}
.page-welcome .welcome .text .buttons{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.page-welcome .welcome .text .buttons .button{
	padding: 15px;
	background: white; 
	margin-right: 10px;
}
.page-welcome .welcome .text .buttons .button:hover{
	background:#008b4f; 
	color: white;
}

.our-services{
	margin-bottom: 50px;
}
.our-services  .wrapper h1{
	padding-top: 50px;
    text-align: center;	
	font-size: 20px;
	font-weight: bold;
}
.our-services  .wrapper h2{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 30px;
}
.our-services .wrapper .col {
	display: flex;
}
.our-services .wrapper .box{
	height: 300px;
	width: 350px;
	background-color: #005281;
	color: white;
	margin: auto;
}
.our-services .wrapper .box .photo{
	height: 60%;
	width: 100%;
}
.our-services .wrapper .box .block-text{
	padding: 10px;
}
.our-services .wrapper .box .block-text .name{
	font-weight: bold;
	color: white;
}
.our-services .wrapper .box .block-text .text{
	font-size: 15px;
	color: white;
}

.why-choose-us{
	padding-bottom: 50px;
	background-color: #F1F2F2;
}
.why-choose-us  .wrapper h1{
	padding-top: 50px;
    text-align: center;	
	font-size: 20px;
	font-weight: bold;
}
.why-choose-us  .wrapper h2{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 30px;
}
.why-choose-us .wrapper .col{
	display: flex;
}
.why-choose-us .wrapper .box{
	margin: auto;
	height: 280px;
	width: 280px;
	display: table;
	outline: 2px solid #BCBEC0;
	
}
.why-choose-us .wrapper .box .container{
	display: table-cell;
  vertical-align: middle;
	
}
.why-choose-us .wrapper .box img{

	height: 60%;
	width: 60%;
	margin: auto;
	display: block;
}
.why-choose-us .wrapper .box .text{
	margin: auto;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding-top: 25px;
}

.request{
	background-color:#005281 ;
}
.request .wrapper .col{
	display: flex;
}
.request .wrapper .box{
	margin: auto;
}
.request .wrapper .block-1{
	padding: 50px 0;
	
	width: 350px;
}
.request .wrapper .block-1 .text-1{
	font-size: 22px;
	color: white;
}
.request .wrapper .block-1 .text-2{

	font-size: 15px;
	font-weight: bold;
	color: white;
}
.request .wrapper .block-1 .text-3{
	color: white;
}
.request .wrapper .block-2{
	padding: 50px 0;

	width: 30%;
}
.request .wrapper .block-2 textarea{
	width: 400px;
	resize: none;
	display: block;
	margin: 15px 0;	
}
.request .wrapper .block-3{
	padding: 50px 0;

	width: 30%;
}
.request .wrapper .block-3 textarea{
	width: 400px;
	resize: none;
	display: block;
	margin: 15px 0
}
.request .wrapper .block-3 a{
	text-align: center;
	color: white;
	display: block;
	margin: 15px 0;
	padding: 10px;
	text-transform: uppercase;
	
	background: #008b4f; 
	
}

.featured-project{
	padding-bottom: 50px;
	background-color: #F1F2F2;
}
.featured-project  .wrapper h1{
	padding-top: 50px;
    text-align: center;	
	font-size: 20px;
	font-weight: bold;
}
.featured-project  .wrapper h2{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 30px;
}
.featured-project .wrapper .col{
	display: flex;
}
.featured-project .wrapper .col .box{
	position: relative;
	width: 30%;
	margin: auto;	
	
}
.featured-project .wrapper .col .box .photo{
	width: 100%;
	height: 250px;
}
.featured-project .wrapper .col .box p{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 345px;
	padding: 15px;
	color: white;
	background-color: rgba(1, 7, 99, 0.623);
	font-size: 20px;
	padding-left:10px ;	
}



.table{
	background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url('../image/office-hero.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-position: 10%;
	
}
.table .wrapper .col{
	display: flex;
	height: 200px;
}
.table .wrapper .col .box{
	margin: auto;
}
.table .wrapper .col .box .number{
	color: white;
	font-size: 25px;
	font-weight: bold;
}
.table .wrapper .col .box .text{
	color: white;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
}

.latest-from-news{
	background-color: #F1F2F2;
	padding-bottom: 50px;
}
.latest-from-news .wrapper .col{
	display: flex;
}
.latest-from-news  .wrapper .text-header{
	padding-top: 50px;
    text-align: center;	
	font-size: 20px;
	font-weight: bold;
}
.latest-from-news  .wrapper .symbol-header{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 30px;
}
.latest-from-news .wrapper .col .box{
	margin: auto;
	width: 360px;
	background-color: white;
}
.latest-from-news .wrapper .col .box .photo{
	width: 100%;
	height: 250px;
}
.latest-from-news .wrapper .col .box .container-text{
	margin: 15px;
	padding-bottom: 1px;
}
.latest-from-news .wrapper .col .box .container-text .header{
	font-size: 16px;
	margin-bottom: 10px;
}
.latest-from-news .wrapper .col .box .container-text .admin {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.latest-from-news .wrapper .col .box .container-text .admin .icon1{
	height: 15px;
}
.latest-from-news .wrapper .col .box .container-text .admin .text1{
	font-size: 15px;
	color:black;
}
.latest-from-news .wrapper .col .box .container-text .admin .symbol{
	font-size: 15px;
	color:black;
	padding: 0 15px;
}
.latest-from-news .wrapper .col .box .container-text .admin .admin{
	height: 17px;
}
.latest-from-news .wrapper .col .box .container-text .admin .text-2{
	font-size: 15px;
	color:#008b4f;
}
.latest-from-news .wrapper .col .box .container-text .admin p{
	padding: 0 5px ;
}
.latest-from-news .wrapper .col .box .container-text .text{
	color:black ; 
}
.latest-from-news .wrapper .col .box .container-text .button{
	display: block;
	text-align: center;
	padding: 10px; 
	margin: 15px 0;
	background:#008b4f; 
	color: white;
	width: 30%;
}

.business-partners  .wrapper h1{
	padding-top: 50px;
    text-align: center;	
	font-size: 20px;
	font-weight: bold;
}
.business-partners .wrapper h2{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 30px;
}
.business-partners .wrapper .col{
	display: flex;
	padding-left: 75px;
	padding-right: 75px;
	margin-bottom: 50px;
}
.business-partners .wrapper .col .box{
	margin: auto;
}
.business-partners .wrapper .col .box .icon{
	height: 100px;
}

.testimonials{
	background-image: linear-gradient( to right, rgba(0, 35, 49, 0.562), rgba(0, 35, 49, 0.562) ), url('../image/office-hero.jpg');
	background-size: 100% 100%;
	width: 100%;
}
.testimonials  .wrapper .text-header{
	padding-top: 50px;
    text-align: center;	
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.testimonials .wrapper .symbol-header{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 30px;
	color: white;
}

.testimonials .wrapper .symbols{
	display: flex;
	margin: 0 532px;
	padding-bottom: 50px;
}
.testimonials .wrapper  .symbols .symbol-1{
	height: 4px;
	width: 35px;
	background-color: #008b4f;
	margin: 5px;
	
}
.testimonials .wrapper  .symbols .symbol{
	height: 4px;
	width: 35px;
	background-color: white;
	margin: 5px;
}
.testimonials .wrapper .col{
	display: flex;
}
.testimonials .wrapper .col .box{
	outline: 0.5px solid white ;
	width: 45%;
	display: table;
	margin: auto;
	margin-bottom: 50px;
}
.testimonials .wrapper .col .box .container-photo{
	display: table-cell;
	vertical-align: middle;
}
.testimonials .wrapper .col .box .container-photo .photo{
	height: 100px;
	width: auto;
}
.testimonials .wrapper .col .box .container-text-1{
	margin: 25px;
}
.testimonials .wrapper .col .box .container-text-1 h1{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}
.testimonials .wrapper .col .box .container-text-1 h2{
	color: white;
	font-size: 12px;
	margin: 10px 0;
}
.testimonials .wrapper .col .box .container-text-1 h3{
	color: white;
	font-size: 13px;
}
.testimonials .wrapper .col .box .container-text-2{
	margin: 25px;
}
.testimonials .wrapper .col .box .container-text-2 h1{
	text-align: right;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}
.testimonials .wrapper .col .box .container-text-2 h2{
	text-align: right;
	color: white;
	font-size: 12px;
	margin: 10px 0;
}
.testimonials .wrapper .col .box .container-text-2 h3{
	text-align: right;
	color: white;
	font-size: 13px;
}

.sign-up  .wrapper .text-header{
	padding-top: 50px;
    text-align: center;	
	font-size: 20px;
	font-weight: bold;
}
.sign-up .wrapper .symbol-header{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 30px;
}
.sign-up .wrapper .text{
	width: 60%;
	margin: auto;
	text-align: center;
	color:black;
}

.sign-up .wrapper .box{
	display: flex;
	margin: 0 340px;
	margin-top: 20px;
	margin-bottom: 50px;
}
.sign-up .wrapper .box input{
	border:1px solid #008b4f;
    color: #000000;
    padding: 10px;
    background: #FFF;
	width: 360px;
	height: 15px;
}
.sign-up .wrapper .box .button{
	display: block;
	text-align: center;
	padding: 10px; 
	margin: 15px 0;
	background:#008b4f; 
	color: white;
	width: 120px;
	margin-top: 0;
}

.footer{
	background-image: linear-gradient( to right, rgba(0, 35, 49, 0.562), rgba(0, 35, 49, 0.562) ), url('../image/office-hero.jpg');;
	background-size: 100% 100%;
	width: 100%;
	height: 50%;
}
.footer .copyright{
	color: white;
	text-align: center;
	background-color: #005281;
	padding: 10px;
}
.footer .wrapper .col{
	display: flex;
}

.footer .wrapper .col .box{
	width: 20%;
	padding: 20px;
	margin: auto;
}
.footer .wrapper .col .box .photo{
	margin: 15px;
	height: 50%;
	width: 40%;
}
.footer .wrapper .col .box .text{
	color: white;
	margin-bottom: 15px;
}
.footer .wrapper .col .box .icon{
	margin: 5px;
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 15px;
}
.footer .wrapper .col .box .image-icon{
	align-items: center;
	margin-right: 7px;
	height: 15px;
}
.footer .wrapper .col .box .contact-us{
	text-transform: uppercase;
	color: white;
	font-weight: bold;
}

.footer .wrapper .col .box .place{
	color: white;
	font-size: 14px;
	margin: 15px 0;
}
.footer .wrapper .col .box .points{
	display: flex;
}
.footer .wrapper .col .box .company{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	margin: 10px 0;
}
.footer .wrapper .col .box .ul1 {
	margin-right: 50px;
	
}
.footer .wrapper .col .box .ul1 li{
	color: white;
	font-size: 15px;
	margin: 10px;
	list-style-type: disc;
}
.footer .wrapper .col .box .ul2 li{
	color: white;
	font-size: 15px;
	margin: 10px;
	list-style-type: disc;
}
.footer .wrapper .col .box .gallery{
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	margin: 10px;
	margin-top: 30px;
}
.footer .wrapper .col .box .part-image .part-image-top{
	margin: 5px;
}
.footer .wrapper .col .box .part-image .part-image-top img{
	height: 45px;
	width: auto;
}
.footer .wrapper .col .box .part-image .part-image-bottom{
	margin: 5px;
}
.footer .wrapper .col .box .part-image .part-image-bottom img{
	height: 45px;
	width: auto;
}